<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM "hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mariadb://landofrails.net:3306/lor-discord-bot</property>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>

        <mapping class="model.database.UsersEntity"/>
        <mapping class="model.database.PollOptionsEntity"/>
        <mapping class="model.database.PollsEntity"/>
        <mapping class="model.database.ElectionLineupEntity"/>
        <mapping class="model.database.CommandIdeasEntity"/>
        <mapping class="model.database.LauncherAccessEntity"/>
        <mapping class="model.database.TeamRulesAcceptedEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>